# Dependency directories
node_modules

# Environment variables file
.env

# IDE/Editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs and debugging
*.log
npm-debug.log*

# OS or Editor files
.DS_Store
Thumbs.db
.vercel

git rm -r --cached .vercel
git rm -r --cached node_modules
git rm -r --cached .env
